.feed-item{
    border-radius: .5rem;
    height: 300px;
    background: #ddd;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;   
}

.footer{
    height: 45px;
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.fav-icon{
    font-size: 1.5rem;
}

