$border-color: #030303;

.autocomplete {
    position: relative;
    z-index: 100;

    .search-icon {
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 1.5rem;
    }
    .submit-btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        background: #10b981;
        color: white;
        font-weight: 500;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
.autocomplete-input {
    padding: 0.75rem;
    padding-left: 15%;
    padding-right: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: 500px;
    max-width: 90vw;
    border-radius: 1rem;
    // border-top-right-radius: 1rem;
    // border-bottom-right-radius: 1rem;
    // border-top-left-radius: 1rem;
    // border-bottom-left-radius: 1rem;
    &:focus {
        outline: none;
    }
}

.autocomplete-uf-select{
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    margin-right: 3px;
    &:focus {
        outline: none;
    }
}

.autocomplete-overlay {
    display: none;
    border-radius: 1rem;
    padding: 1rem;
    background: white;
    height: 300px;
    width: 100%;
    margin-top: 1.5rem;
    // box-shadow: 0px 0px 0px 5px $border-color;
    position: absolute;
    animation-duration: 0.3s;

    &.overlay-in {
        display: flex;
        animation-name: overlayIn;
    }
    &.overlay-out {
        display: none;
        height: 0px;
        box-shadow: none;
    }

    .overlay-content {
        overflow: auto;
        border-radius: 1rem;
        padding: 0.5rem;
        padding-top: 0;
        width: 100%;
        li {
            padding: 0.75rem 0.5rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                background: rgba(236, 236, 236, 0.5);
            }
        }
    }
}

.backdrop {
    @apply h-full w-screen;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

@keyframes overlayIn {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .autocomplete-overlay {
        height: 160px;
        margin-top: 1rem;
        .overlay-content {
            li {
                padding: 0.5rem 0.25rem;
            }
        }
    }
}
